<footer>
  <p>This is my footer. There are many like it but this one is mine.</p>
  <nav id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/wiki">Wiki</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/colophon">Colophon</a></li>
      <li><a href="/uses">Uses</a></li>
      <li><a href="/pizza">Pizza</a></li>
      <li><a href="/recipes">Recipes</a></li>
      <li><a href="/now">Now</a></li>
      <li><a href="/resume">Resume</a></li>
    </ul>
  </nav>
</footer>
