<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="color-scheme" content="dark light">
	<link rel="icon" href="data:,">
	<title>{{ title }}</title>
	<link href="/feed.xml" type="application/rss+xml" rel="alternate" title="RSS feed for blog posts" />
	<link rel="stylesheet" href="/public/style.css">
</head>
<body>

<nav id="top">
	<a href="/">Home</a><a class="menu" href="#menu">Menu &darr;</a>
</nav>

<main>
